body{
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 90px;
}
div.header{
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #1f2937;
    padding: 20px 100px 100px 100px;
    margin-bottom: 15px;
}
/* reduce redundant section */
.darkfont{
    color: #1f2937;
}

/* --------- */
ul{
    display: flex;
    padding: 0px;
    margin: 0px;
    gap: 12px;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
li.logo{
    font-size: 24px;
    margin-right: auto;
}
.logo a,
.maintext{
    color: #F9FAF8;
}
.h-link a, .h-link{
    color: #E5E7EB;
}
.maintext{
    font-size: 48px;
    font-weight: 500;
}
button{
    background: #3882F6;
    width: 100px;
    padding: 5px;
    border-radius: 8px;
    border: none;
}
button.f-btn{
    border: 3px solid #E5E7EB;
}
div.sheader{
    display: flex;
}
div.img{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: dotted;
    flex-basis: 400px;
}
img.h-img-size{
    width: 400px;
    height: 206px;
}
div.fbasis{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: auto;
    flex-basis: 400px;
}
div.h-link{
    font-size: 18px;
}
/* body */
.body{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 150px;
}
div.info-header{
    font-size: 36px;
    font-weight: bold;
}
div.wrapper{
    display: flex;
    gap: 80px;
    justify-content: center;
    height: 230px;
}
div.bimg{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 3px black;
    border-radius: 8px;
    height: 130px;
    width: 130px;
    gap: 10px;
}
img.imgsize{
    width: 130px;
    height: 130px;
}
div.text{
    width: 130px;
    height: 50px;
    text-align: center;
    font-size: 16px;
}
/* quote section */
div.quotes{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 190px;
    gap: 30px;
}
div.quote-text{
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}
div.author{
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 700;
}
div.invitation{
    display: flex;
    gap: 160px;
    background-color: #3882F6;
    padding: 60px;
    width: 800px;
    margin-top: 100px;
    border-radius: 15px;
}
div.inv-text{
    font-size: 28px;
    font-weight: 600;
}
div.inv-stext{
    font-size: 16px;
}
div.inv-btn{
    display: flex;
    align-items: center;
}
div.footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    padding: 30px;
}
